*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;

}


:root{
    --black-color:black;
    --white-color:#ffffff;
    --secondary-color:#363636;
    --btn-bg-color:rgba(248, 243, 243, 0.021);

}
body{
    background-color:var(--black-color);
    color: var(--white-color);
    
}

.seperetaion{
    border: 3px solid rgb(54, 54, 54);

}

/* navbar */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
    margin: auto;
}
.navbar img{
    width:130px ;
    z-index: 1;
    
}

.navbar button{
    position: relative;
    z-index: 1;
}
.btn{
    padding: 3px 8px;
    background-color: var(--btn-bg-color);
    color: var(--white-color);
    border: 1px solid var(--white-color);
    font-size:16px;
    cursor: pointer;
    border-radius:4px;
    transition:all 0.4s;
    
}
.btn-red{
    background-color: red !important;
}
.btn-red:hover{
    background-color: var(--btn-bg-color) !important;

}
.navbar .btn:hover{
    background-color: red;
}

/* hero */
.hero{
    background-image: url(resimler/bunu\ ekle.webp);
    height: 644px;
    background-position: center center;
    background-size: max(1200px,100vw);
    position: relative;
    
} 
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 500px;
    justify-content: center;
    gap: 25px;
    height: calc(100% - 100px);
    text-align: center;
    
}
.hero-content h1{
    font-size: 48px;
    z-index: 1;
}
.hero-content p{
    font-size: 24px;
    font-weight: 500;
    z-index: 1;
}
.hero-wrapper{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.hero-wrapper input{
    padding: 7px 101px 8px 14px ;
    font-size: 12px;
    background-color: var(--btn-bg-color);
    border: 1px solid rgb(197, 197, 197);
    border-radius: 4px;
}
.hero-wrapper button{
    padding: 8px 24px;
    font-size: 16px;
}
.box{
    width: 100%;
    height: 644px;
    position: absolute;
    top: 0;
    background-color: black;
    opacity: 0.6;

}

.info-area{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    max-width: 70vw;
    margin: auto;

}
.info-area div h1{
    font-size: 45px;
}
.info-area div p{
    font-size: 24px;
    margin-top: 10px;

}
.info-area .secImage{
    position: relative;
    overflow: hidden;

}
.info-area .secImage img{
    position: relative;
    width: 555px;
    z-index: 10;
}
.info-area .secImage img .ımages{
    position: absolute;
    top: 50px;
    right: 10px;
}
































@media(max-width:1000px){
    .info-area{
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }
}
@media(max-width:700px){
    .info-area h1{
        font-size: 35px !important;
    }
    .info-area p{
        font-size: 20px !important;

    }
    .info-area img{
        width: 450px !important;

    }
}